<!-- Header -->
<header>
    <nav class="container flex items-center py-2 md:py-4">
        <div class="max-w-[150px] md:max-w-[125px] bg-white rounded-full p-1 -mb-12 z-10">
            <img class="w-full" src="assets/images/logo-color.png" alt="Logo">
        </div>
        <div class="w-90 text-sm ml-6 hidden md:inline-block">Local Las Vegas Heating & Cooling Specialists<br>Helping <span class="font-semibold">Las Vegas & Henderson</span> Residents For 25+ Years</div>
        <div class="flex flex-1 justify-end items-center gap-12">
            <div class="flex w-auto shrink-0 items-center gap-1 md:gap-3 flex-row">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-auto" viewBox="0 0 20 20" fill="currentColor"><path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" /></svg>
                </div>
                <div class="flex flex-1 justify-end flex-col">
                    <span class="italic text-xs md:text-sm">Call Now For A Free Quote</span>
                    <a class="font-bold text-xl md:text-2xl" href="tel:7028998137">(702) 899-8137</a>
                </div>
            </div>
        </div>
    </nav>
</header>