<section class="py-36">
    <!-- Heading -->
    <div class="container flex flex-col items-center">
        <div class="text-center">
            <h2 class="text-4xl md:text-5xl mb-6 leading-tight md:leading-tight">Why Is Active Plumbing & Air Conditioning Is Trusted By Thousands of Homeowners In Las Vegas & Henderson?</h2>
            <p class="text-base md:text-xl">Whatever kind of AC, refrigeration, or heater repair you need help with, Active Plumbing & Air Conditioning is ready to help. For over 25 years we’ve been the <b>trusted experts in Las Vegas with over 40,000 satisfied customers</b>. We focus on <b>providing customers with the best HVAC service available</b>, solving your issue <b>fast with affordable and honest service that fixes your issue the first time.</b></p>
        </div>


        <div class="md:w-10/12 grid grid-cols-1 md:grid-cols-2 gap-8 my-16">

        <div class="flex">
            <div class="w-12 mr-6">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            </div>
            <div class="flex-row flex-1 mb-6">
                <h3 class="font-bold text-lg">Hundreds Of Happy Customers</h3>
                <p class="text-lg">Great service = Happy customers! And we've had hundreds of them.</p>
            </div>
        </div>
        <div class="flex">
            <div class="w-12 mr-6">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            </div>
            <div class="flex-row flex-1 mb-6">
                <h3 class="font-bold text-lg">Family Owned & Operated</h3>
                <p class="text-lg">We’re a family owned and operated Las Vegas business, so we won’t risk the reputation of our livelihood..</p>
            </div>
        </div>
        <div class="flex">
            <div class="w-12 mr-6">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            </div>
            <div class="flex-row flex-1 mb-6">
                <h3 class="font-bold text-lg">Over 25 Years of Experience</h3>
                <p class="text-lg">We’ve been your trusted Las Vegas Plumbing & Air Conditioning company for over 25 years.</p>
            </div>
        </div>
        <div class="flex">
            <div class="w-12 mr-6">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            </div>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Tradesman You Can Trust</h3>
                <p class="text-lg">All our staff are licensed, insured and trained to the highest standard of work and ethics.</p>
            </div>
        </div>
        <div class="flex">
            <div class="w-12 mr-6">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            </div>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Affordable Prices</h3>
                <p class="text-lg">Enjoy affordable prices combined with superior quality workmanship that lasts.</p>
            </div>
        </div>
        <div class="flex">
            <div class="w-12 mr-6">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            </div>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Only The Best Service & Materials</h3>
                <p class="text-lg">No skimping on materials or service - high quality is what separates us.</p>
            </div>
        </div>
        </div>

        <a href="#hero-form" class="btn btn--primary">Schedule AC Tune-Up</a>

        <p class="text-lg mt-6">Or call us at <a class="font-bold text-blue-600" href="tel:7025531171">(702) 553-1171</a></p>
    </div>
</section>