<section class="container flex flex-col items-center py-24">
    <div class="text-center">
        <h2 class="text-3xl md:text-5xl mb-6 leading-tight md:leading-tight">Why Is Active Plumbing & Air Conditioning Is Trusted By Thousands of Homeowners In Las Vegas & Henderson?</h2>
        <p class="text-lg md:text-xl">Whatever kind of AC, refrigeration, or heater repair you need help with, Active Plumbing & Air Conditioning is ready to help. For over 25 years we’ve been the <b>trusted experts in Las Vegas with over 40,000 satisfied customers</b>. We focus on <b>providing customers with the best HVAC service available</b>, solving your issue <b>fast with affordable and honest service that fixes your issue the first time.</b></p>
    </div>


    <div class="md:w-10/12 grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 my-16">

        <div class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 mr-6 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Thousands Of Happy Customers</h3>
                <p class="text-lg">Great service = Happy customers! And we've had thousands of them.</p>
            </div>
        </div>
        <div class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 mr-6 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Family Owned & Operated</h3>
                <p class="text-lg">We’re a family owned and operated Las Vegas business, so we won’t risk the reputation of our livelihood..</p>
            </div>
        </div>
        <div class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 mr-6 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Affordable Prices</h3>
                <p class="text-lg">Enjoy affordable prices combined with superior quality workmanship that lasts.</p>
            </div>
        </div>
        <div class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 mr-6 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Tradesman You Can Trust</h3>
                <p class="text-lg">All our staff are licensed, insured and trained to the highest standard of work and ethics.</p>
            </div>
        </div>
        <div class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 mr-6 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">Over 25 Years of Experience</h3>
                <p class="text-lg">For over 25 years we’ve been the trusted experts in Las Vegas with over 40,000 satisfied customers and an A+ rating with the Better Business Bureau.</p>
            </div>
        </div>
        <div class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-14 mr-6 fill-green-600" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>
            <div class="flex-row flex-1">
                <h3 class="font-bold text-lg">"Better of The Best"</h3>
                <p class="text-lg">We continue to delight the homeowners of our community with legendary “Better of the Best” service that delivers amazingly high-quality at surprisingly affordable prices.</p>
            </div>
        </div>
    </div>

    <p class="md:w-8/12 text-xl text-center leading-relaxed my-6">Your complete satisfaction is very important to us, and that’s why Active Plumbing & Air Conditioning provides a <b>100% satisfaction guarantee</b> on our services.</p>

    <button @click="showModal = true" class="btn btn--primary">Contact Us Today!</button>

    <p class="text-lg mt-6">Or call us at <a class="font-bold text-blue-600" href="tel:7025531171">(702) 553-1171</a></p>
</section>