<form
    name="HVAC Replacement Quote"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
    x-on:submit.prevent="validateAndProceed()"
    x-data="multiStepForm()"
    x-on:keydown="handleEnterKey($event)"

    id="leadForm"
    cr-attached=’true’ 
    
    class="flex flex-col w-full h-full"
>
    <input type="hidden" name="form-name" value="HVAC Replacement Quote">
    <template x-if="step !== 'success'">
        <input type="hidden" name="zipCode" x-model="zipCode" />
        <input type="hidden" name="isSystemWorking" x-model="isSystemWorking" />
        <input type="hidden" name="systemReplaced" x-model="systemReplaced" />
        <input type="hidden" name="firstName" x-model="firstName" />
        <input type="hidden" name="lastName" x-model="lastName" />
        <input type="hidden" name="address" x-model="address" />
        <input type="hidden" name="suiteApt" x-model="suiteApt" />
        <input type="hidden" name="isHomeowner" x-model="isHomeowner" />
        <input type="hidden" name="email" x-model="email" />
        <input type="hidden" name="phone" x-model="phone" />
        <input type="hidden" name="details" x-model="details" />
        <input type="hidden" name="campaign" />
        <input type="hidden" name="keyword" />
        <input type="hidden" name="gclid" />
    </template>

    <!-- Step 1: Zip Code -->
    <template x-if="step === 'zipCode'">
        <div>
            <p class="mb-4 text-lg text-gray-800" for="zipCode">Enter your zip code to get started</p>
            
            <input placeholder="Zip Code" type="text" name="zipCode" x-model="zipCode" inputmode="numeric" pattern="\d{5}" @blur="zipCodeError = !checkValidity()" @input="zipCode = $event.target.value" required />
            <p x-show="zipCodeError" class="error-message">Please enter a valid zip code.</p>
        </div>
    </template>

    <!-- Step 2: Is your system currently working? -->
    <template x-if="step === 'isSystemWorking'">
        <div>
            <p class="mb-4 text-lg text-gray-800">Is your system currently working?</p>
            <div>
                <ul class="input-options--pretty">
                    <li>
                        <input  type="radio" name="isSystemWorking" x-model="isSystemWorking" @change="checkValidity() && nextStep()" required
                                id="isSystemWorkingYes" 
                                value="Yes">
                        <label for="isSystemWorkingYes">Yes</label>
                    </li>
                    <li>
                        <input  type="radio" name="isSystemWorking" x-model="isSystemWorking" @change="checkValidity() && nextStep()"
                                id="isSystemWorkingNo" 
                                value="No">
                        <label for="isSystemWorkingNo">No</label>
                    </li>
                    <li>
                        <input  type="radio" name="isSystemWorking" x-model="isSystemWorking" @change="checkValidity() && nextStep()"
                                id="isSystemWorkingIDK" 
                                value="I Don't Know">
                        <label for="isSystemWorkingIDK">I Don't Know</label>
                    </li>
                </ul>

            </div>
        </div>
    </template>


    <!-- Step 3: Has your system been replaced within the last 10 years? -->
    <template x-if="step === 'systemReplaced'">
        <div>
            <p class="mb-4 text-lg text-gray-800">Has your system been replaced within the last 10 years?</p>
            
            <div>
                <ul class="input-options--pretty">
                    <li>
                        <input  type="radio" name="systemReplaced" x-model="systemReplaced" @change="checkValidity() && nextStep()" required
                                id="systemReplacedYes" 
                                value="Yes">
                        <label for="systemReplacedYes">Yes</label>
                    </li>

                    <li>
                        <input  type="radio" name="systemReplaced" x-model="systemReplaced" @change="checkValidity() && nextStep()"
                                id="systemReplacedNo" 
                                value="No">
                        <label for="systemReplacedNo">No</label>
                    </li>

                    <li>
                        <input  type="radio" name="systemReplaced" x-model="systemReplaced" @change="checkValidity() && nextStep()"
                                id="systemReplacedIDK" 
                                value="I Don't Know">
                        <label for="systemReplacedIDK">I Don't Know</label>
                    </li>
                </ul>
            </div>
        </div>
    </template>

    <!-- Step 4: What is your name? -->
    <template x-if="step === 'name'">
        <div>
            <p class="mb-4 text-lg text-gray-800">What is your nane?</p>

            <input placeholder="First Name" type="text" name="firstName" x-model="firstName" @input="firstName = $event.target.value" />
            <input placeholder="Last Name" type="text" name="lastName" x-model="lastName" @input="lastName = $event.target.value" />
            
            <p x-show="nameError" x-cloak class="error-message">Please enter your first and last name.</p>
        </div>
    </template>       

    <!-- Step 5: What is your address? -->
    <template x-if="step === 'address'">
        <div>
            <p class="mb-4 text-lg text-gray-800">What is your address?</p>

            <div class="grid grid-cols-6 gap-4">
                <div class="col-span-4">
                    <input placeholder="Address" type="text" name="address" x-model="address" @input="address = $event.target.value" />
                    <p x-show="addressError" x-cloak class="error-message">Please enter your address.</p>
                </div>
                <div class="col-span-2">
                    <input placeholder="Suite/Apt." type="text" name="suiteApt" x-model="suiteApt" />
                </div>
            </div>
        </div>
    </template>

    <!-- Step 6: Are you the homeowner? -->
    <template x-if="step === 'isHomeowner'">
        <div>
            <p class="mb-4 text-lg text-gray-800">Are you the homeowner?</p>
            <div>
                <ul class="input-options--pretty">
                    <li>
                        <input  type="radio" name="isHomeowner" x-model="isHomeowner" @change="checkValidity() && nextStep()" required
                                id="isHomeownerYes" 
                                value="Yes">
                        <label for="isHomeownerYes">Yes</label>
                    </li>
                    <li>
                        <input  type="radio" name="isHomeowner" x-model="isHomeowner" @change="checkValidity() && nextStep()"
                                id="isHomeownerNo" 
                                value="No">
                        <label for="isHomeownerNo">No</label>
                    </li>
                </ul>
            </div>
        </div>
    </template>

    <!-- Step 7: Your contact info -->
    <template x-if="step === 'contactInfo'">
        <div>
            <p class="mb-4 text-lg text-gray-800">What is your contact information?</p>

            <input placeholder="Email Address" type="email" name="email" x-model="email" @input="email = $event.target.value" />
            <p x-show="emailError" x-cloak class="error-message">Please enter a valid email address.</p>
        
            <input placeholder="Phone Number" type="tel" name="phone" x-model="phone" @input="phone = applyPhoneMask($event.target.value)" />
            <p x-show="phoneError" x-cloak class="error-message">Please enter a valid phone number.</p>
        </div>
    </template>

    <!-- Step 8: Additional details -->
    <template x-if="step === 'additionalDetails'">
        <div>
            <p class="mb-6 text-lg text-gray-800">Anything else you would like us to know? (optional)</p>
            <textarea placeholder="Tell us more about it" name="details" x-model="details"></textarea>
        </div>
    </template>

    <!-- Navigation Buttons -->
    <div class="flex flex-col justify-center gap-3 mt-4" x-show="step !== 'success'">
        <button type="button" x-show="step !== 'additionalDetails'" @click="nextStep()" class="px-12 py-3 font-semibold text-white bg-blue-600 rounded shadow-md hover:bg-blue-700">Next</button>

        <button type="submit" x-show="step === 'additionalDetails'" class="px-12 py-3 font-semibold text-white bg-green-500 rounded shadow-md hover:bg-green-600">Get My Free Estimate</button>

        <button type="button" x-show="step !== 'zipCode'" @click="previousStep()" class="px-12 py-3 text-gray-500 rounded hover:text-gray-800">Previous</button>

        <p x-show="step === 'zipCode'" class="mt-3 text-gray-800">Takes less than 2 minutes</p>
    </div>

    <!-- Progress bar -->
    <template x-if="step !== 'success' && step !== 'zipCode'">
        <div class="mt-auto">
            <div class="w-full h-1 bg-gray-200 rounded">
                <div :style="'width:' + progress + '%'" class="h-1 transition-all bg-blue-500 rounded"></div>
            </div>
            <p class="mt-1 text-sm text-left text-gray-800" x-text="Math.round(progress) + '%'"></p>
        </div>
    </template>

    <!-- Success message -->
    <template x-if="step === 'success'">
        <div class="text-center">
            <div class="flex items-center justify-center mx-auto mb-6 bg-green-600 rounded-full w-14 h-14">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" class="w-10 h-10">
                <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
                </svg>                                  
            </div>
            <p class="text-green-600">Thank you! Your inquiry has been submitted successfully. One of our representatives will be in touch with you shortly.</p>
        </div>
    </template>
</form>

<script>
function multiStepForm() {
    return {
        step: 'zipCode',
        zipCode: '',
        zipCodeError: false,
        isSystemWorking: '',
        systemReplaced: '',
        firstName: '',
        lastName: '',
        nameError: false,
        address: '',
        suiteApt: '',
        addressError: false,
        isHomeowner: '',
        email: '',
        emailError: false,
        phone: '',
        phoneError: false,
        details: '',
        additionalDetailsError: false,
        submitting: false,
        progress: 0,

        handleEnterKey(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                if (this.step !== 'additionalDetails') {
                    this.nextStep();
                } else {
                    this.validateAndProceed();
                }
            }
        },

        checkValidity() {
            let valid = false;
            switch (this.step) {
                case 'zipCode':
                    valid = /^\d{5}$/.test(this.zipCode);
                    this.zipCodeError = !valid;
                    break;
                case 'name':
                    valid = this.firstName.trim() !== '' && this.lastName.trim() !== '';
                    this.nameError = !valid;
                    break;
                case 'address':
                    valid = this.address.trim() !== '';
                    this.addressError = !valid;
                    break;
                case 'contactInfo':
                    const emailRegex = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
                    const phoneRegex = /^\(\d{3}\) \d{3}-\d{4}$/;
                    valid = emailRegex.test(this.email) && phoneRegex.test(this.phone);
                    this.emailError = !emailRegex.test(this.email);
                    this.phoneError = !phoneRegex.test(this.phone);
                    break;
                case 'isSystemWorking':
                case 'systemReplaced':
                case 'isHomeowner':
                    valid = this[this.step] !== '';
                    break;
                case 'additionalDetails':
                    valid = true;
                    break;
            }
            return valid;
        },

        applyPhoneMask(input) {
            const value = input.replace(/\D/g, '');
            let maskedValue = '';

            if (value.length > 0) {
                maskedValue += '(' + value.substring(0, 3);
            }
            if (value.length > 3) {
                maskedValue += ') ' + value.substring(3, 6);
            }
            if (value.length > 6) {
                maskedValue += '-' + value.substring(6, 10);
            }
            return maskedValue;
        },

        nextStep() {
            if (this.checkValidity()) {
                this.updateProgress();
                setTimeout(() => {
                    switch (this.step) {
                        case 'zipCode':
                            if (this.checkValidity()) {
                                this.step = 'isSystemWorking';
                            }
                            break;
                        case 'isSystemWorking':
                            this.step = 'systemReplaced';
                            break;
                        case 'systemReplaced':
                            this.step = 'name';
                            break;
                        case 'name':
                            if (this.checkValidity()) {
                                this.step = 'address';
                            }
                            break;
                        case 'address':
                            if (this.checkValidity()) {
                                this.step = 'isHomeowner';
                            }
                            break;
                        case 'isHomeowner':
                            this.step = 'contactInfo';
                            break;
                        case 'contactInfo':
                            this.step = 'additionalDetails';
                            break;
                    }
                }, 300); // 300 ms delay
            }
        },

        previousStep() {
            switch (this.step) {
                case 'isSystemWorking':
                    this.step = 'zipCode';
                    break;
                case 'systemReplaced':
                    this.step = 'isSystemWorking';
                    break;
                case 'name':
                    this.step = 'systemReplaced';
                    break;
                case 'address':
                    this.step = 'name';
                    break;
                case 'isHomeowner':
                    this.step = 'address';
                    break;
                case 'contactInfo':
                    this.step = 'isHomeowner';
                    break;
                case 'additionalDetails':
                    this.step = 'contactInfo';
                    break;
            }
            this.updateProgress();
        },

        updateProgress() {
            const stepsCount = 8;
            const stepIndex = {
                zipCode: 1,
                isSystemWorking: 2,
                systemReplaced: 3,
                name: 4,
                address: 5,
                isHomeowner: 6,
                contactInfo: 7,
                additionalDetails: 8,
            };

            this.progress = (stepIndex[this.step] / stepsCount) * 100;
        },

        validateAndProceed() {
            if (this.checkValidity()) {
                this.$nextTick(() => this.submitForm());
            }
        },

        submitForm() {
            this.submitting = true;
            const formData = new FormData();
            formData.append('form-name', 'HVAC Replacement Quote');
            formData.append('zipCode', this.zipCode);
            formData.append('isSystemWorking', this.isSystemWorking);
            formData.append('systemReplaced', this.systemReplaced);
            formData.append('firstName', this.firstName);
            formData.append('lastName', this.lastName);
            formData.append('address', this.address);
            formData.append('suiteApt', this.suiteApt);
            formData.append('isHomeowner', this.isHomeowner);
            formData.append('email', this.email);
            formData.append('phone', this.phone);
            formData.append('details', this.details);

            fetch('/', {
                method: 'POST',
                headers: {
                    'Accept': 'application/x-www-form-urlencoded;charset=UTF-8',
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                },
                body: new URLSearchParams(formData).toString()
            })
            .then((response) => {
                if (response.ok) {
                    this.step = 'success';
                } else {
                    // Handle submission error here
                }
            })
            .catch((error) => {
                console.error('Fetch error:', error); // Log the error for debugging
            })
            .finally(() => {
                this.submitting = false;
            });
        },

    };
}

var form = document.querySelector('#leadForm');
form.addEventListener(
    'submit',
    function() {
        CallTrk.captureForm('#leadForm');
    }
);

</script>

